<!-- Nav Bar -->
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div href="" class="navbar-item">
      <h1 class="title has-background-dark">NEON Peach</h1>
    </div>
    <a class="navbar-item" href="../legislation"><img class="logo" src="/assets/css/logo2.png" /> </a>
    <a class="navbar-item login" href="/"><i class="fas fa-sign-in-alt"></i></a>
    <a class="navbar-item logout" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
    <a class="navbar-item" id="account-btn" href="../account"> <i class="far fa-user"></i> </a>
    <a class="navbar-item" id="showModal"><i class="fas fa-info-circle"></i> </a>

  </div>
</nav>

<!--Modal Infographic-->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img src="/assets/infographic.png" alt="">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<script> $("#showModal").click(function () {
    $(".modal").addClass("is-active");
  });
  $(".modal-close").click(function () {
    $(".modal").removeClass("is-active");
  });</script>