<!-- Nav Bar -->
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img
           class="logo" src="https://lh3.googleusercontent.com/vfGZkSUcuOXRI_oBJ_xajS0bLo2LqIhQx6ISabazZcn3XOHe0gXDjFSDJ5rQ9fPCKVxowt37S5RvtM3JpFG9uD3-DtCAuB_JxbSAXLk5QKWOXo0SeOxC7HMgkIyyVhIlFss14L81jDfHoJGsAupgIzI8Wsc7EoQYjnkMKafRbzozYVzj0CyEIQnbaC8f8n9rbDBUHNYWDHgs7cDmKxXwYbvfvSneiTkMPwdqM-nrdMpnrwh2oCkL-v6btT8w9gTkAsk_LHO3e244qho9QxUMwfvpsNwOeRvgUNo26OVTdueD0SpOGcOwfq7cln-L37yEy4DaoyR0-QXs9o9-35sOVhwi4m1Pldbx0fhxd_0tYpeEjo8etpeymu1ISl62SJgnPMZiVykNdPFIkwEcdstNkaUZf6BqG1h_BO3Hpf4UlRgu6_vG3YCrlriIQuaHXQiLoaR4TnjScw3fBqSwwB6CbMQW5s5abILKqzFJbszPtfd27xWsaQU6Jk5X6SWMnuHquRZSxo0vdPeJAamAPwH3V-VtKalWnqcm7bmgZcZbAUinN7ob9kThl5QRQAloABbmTGDZ0ofjleGU3Jw4-YmOeLpkzZtFNnDxIPj5KizVJ87D61-A0vAtaMs-b8DST2JBweax1oREVZDMxup8_fXJbs59dHgTa32pmZ69ljPnEvZDtVbvp6ghBAI1yHtq=w300-h200-no?authuser=0"/>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"> Account </a>

      <a class="navbar-item"> Legislation Information </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light"> Log in </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0
    );

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle("is-active");
          $target.classList.toggle("is-active");
        });
      });
    }
  });
</script>