{{> navbar}}

<article class="message is-dark">
    <div class="message-header">
        <p>Log In</p>
    </div>
    <div class="message-body">
        <form>
            <div class="field">
                <label class="label">Username</label>
                <input type="text" id="username-input" class="input  is-black" placeholder="Enter username">
            </div>
            <div class="field">
                <label class="label">Password</label>
                <input type="password" id="password-input" class="input is-black" placeholder="Enter password">
            </div>
        </form>
        <div class="buttons has-addons is-centered">
            <button href="" id="login-btn" class="button is-outlined is-dark">Submit</button>
        </div>
        <div class="buttons has-addons is-centered">
            <p class="noAccount">Don't have an account? Create one here</p>
        </div>
        <div class="buttons has-addons is-centered">

            <button class="create button is-outlined is-dark">Create Account</button>
        </div>
    </div>
</article>