{{> navbar}}

<!-- Login Card-->
{{!-- <div class="card is-center">
    <header class="card-header">
        <p class="card-header-title">Component</p>
        <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </a>
    </header>
    <div class="card-content">
        <div class="content">
            TEST TEST
            <a href="#">@bulmaio</a>. <a href="#">#css</a>
            <a href="#">#responsive</a>
            <br />

        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
    </footer>
</div> --}}
<article class="message is-dark">
    <div class="message-header">
        <p>Log In</p>
    </div>
    <div class="message-body">
        <form>
            <div class="field">
                <label class="label">Username</label>
                <input type="text" class="input" placeholder="Enter username">
            </div>
            <div class="field">
                <label class="label">Password</label>
                <input type="text" class="input" placeholder="Enter password">
            </div>
        </form>
        <div class="buttons has-addons is-centered">
            <a href="" class="button  is-outlined is-dark">Submit</a>
        </div>
        <div class="buttons has-addons is-centered">
            <a href="" class="button is-outlined is-dark">Create Account</a>
        </div>
        <div class="buttons has-addons is-centered">
            <a href="" class="button is-outlined is-dark">Forgot Password</a>
        </div>
    </div>
</article>