{{> navbar}}

<div class="columns">
    <!--legislation-cards-->
    <div class="column is-one-third">
        <div class="columns is-mobile">
            <div class="column bill-name">
                <p class="bd-notification is-info">Bill</p>
            </div>
            <div class="column bill-status">
                <p class="bd-notification is-info">Status</p>
            </div>
        </div>
        <p class="bill-info">A BILL to be entitled an Act to amend Part 3 of Article 16 of Chapter 2 of Title 20 of the
            Official Code of Georgia Annotated, relating to the health of students generally, so as to require the
            Department of Education, in consultation with the Department of Behavioral Health and Developmental
            Disabilities and others.</p>
    </div>


    <!--legislation-feed-->
    <div class="column is-two-quarters">
        <div class="columns is-mobile">
            <div class="column bill-name-main">
                <p class="bd-notification is-info">Bill</p>
            </div>
            <div class="column bill-status-main">
                <p class="bd-notification is-info">Status</p>
            </div>
        </div>
        <p class="bill-info-main">A BILL to be entitled an Act to amend Part 3 of Article 16 of Chapter 2 of Title 20 of
            the Official Code of Georgia Annotated, relating to the health of students generally, so as to require the
            Department of Education, in consultation with the Department of Behavioral Health and Developmental
            Disabilities and others, to develop guidelines for the use of telehealth services in public schools to
            provide mental health and behavioral health services to students at school or during any school related
            function; to define the term "telehealth"; to provide for related matters; to repeal conflicting laws; and
            for other purposes.</p>
        <div class="columns is-mobile">
            <div class="column bill-name-main">
                <p class="bd-notification is-info">Bill</p>
                <p class="bd-notification is-info">House Prefiled</p>
            </div>
            <div class="column bill-status-main">
                <p class="bd-notification is-info">
                    <i class="far fa-thumbs-up fa-3x bill-like"></i>
                    <i class="far fa-thumbs-down fa-3x bill-dislike"></i></p>
            </div>
        </div>
    </div>
</div>

{{> footer}}