html {
  background-color: #3c3f58 !important;
}
body {
  background-color: #3c3f58;
  background-size: cover !important;
  height: 100% !important;
}

p {
  color: white;
}

.noAccount {
  color: black;
}
/* .message-header {
  margin-top: 150px;
  background-color: aquamarine;
} */

.message {
  width: 50%;
  margin: auto;
  background-color: brown;
  margin-bottom: 30% !important;
}

form {
  margin-bottom: 30px;
}

.modal-content {
  width: 850px;
}

footer {
  margin-top: 30px !important;
  background-color: #fb8472 !important;
  height: 50px !important;
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  /* z-index: 100 !important; */
}
