html {
  background-image: url("background.jpg");
  background-size: cover !important;
  background-color: #3c3f58 !important;
}
body {
  /* background-color: #3c3f58;
  background-size: cover !important;
  height: 100% !important; */
}

p {
  color: white;
}

.noAccount {
  color: black;
}
.message-header {
  margin-top: 100px;
}
/* .navbar-brand {
  padding-bottom: 100px !important;
} */

.message {
  width: 50%;
  margin: auto;
  background-color: brown;
  margin-bottom: 30% !important;
}

.submit {
  margin-top: 20px;
}

#edit-btn {
  margin-top: 20px;
}
.columns {
  margin-top: 2%;
}

.card-feed {
  margin: 20px;
  border-radius: 10px;
  background: #707793;
}

.bill-status {
  background: #2e3047;
}

.is-info {
  text-align: center;
}

.accordions {
  padding-top: 40px;
}

footer {
  margin-top: 30px !important;
  background-color: #fb8472 !important;
  height: 50px !important;
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  /* z-index: 100 !important; */
}

@media only screen and (max-width: 650px) {
  .message {
    width: 90%;
  }
}
