body {
  background-color: #3c3f58;
}

p {
  color: white;
}

.noAccount {
  color: black;
}
.message-header {
  margin-top: 50px;
  background-color: aquamarine;
}

.message {
  width: 50%;
  margin: auto;
  background-color: brown;
}

form {
  margin-bottom: 30px;
}

.modal-content {
  width: 850px;
}

/* footer {
  background-color: brown !important;
} */
